@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,700;1,300&display=swap');

html *
{
   font-family: 'Raleway', sans-serif;
}

p, span, a {
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.flashes h4 {
    line-height: 2;
}

.home-header {
    text-align: center;
}

.btn-small {
    margin-right: 15px ;
}

.vertical-align-center {
    align-items: center;
    vertical-align: middle;
    align-content: center;
}

.nav-wrapper {
    margin: 0px 20px 0px 20px;
}

.alternate-row-a {
    background-color: #e8f5e9;
    padding: 5px 5px 5px 5px;
    border: 1px solid #4fc3f7;
}

.alternate-row-b {
    background-color: #e1f5fe;
    padding: 5px 5px 5px 5px;
    border: 1px solid #81c784;
}

.collapsible-header span strong {
    font-size: 20px;
    color: #000000;
}

.collapsible {
    border: 2px solid #81c784;
}

.collapsible-header {
    border-bottom: 1px solid #81c784;
    color: #388e3c;
}

.banner-image {
    width: 100%;
    height: auto;
    margin-top: -4px;
}

#my-account-trigger {
    margin-top: -4px;
}

@media screen and (min-width: 1px) and (max-width: 600px) {
  #restruction-logo { display: none; }   /* hide it elsewhere */
}