/* Importing the font Raleway from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,700;1,300&display=swap');

html * {
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

p,
span,
a {
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

/* Styling for flash messages below */
.flashes {
    margin-bottom: 0;
}

.flashes h4 {
    line-height: 2;
    font-weight: 300;
    color: #81c784;
}

.btn-small {
    margin-right: 15px;
}

.vertical-align-center {
    align-items: center;
    vertical-align: middle;
    align-content: center;
}

/* Header styling below */
.home-header {
    text-align: center;
}

.nav-wrapper {
    margin: 0px 20px 4px 20px;
}

.collapsible-header span strong {
    font-size: 20px;
    color: #000000;
}

.collapsible {
    border: 2px solid #81c784;
}

.collapsible-header {
    border-bottom: 1px solid #81c784;
    color: #388e3c;
}

#my-account-trigger {
    margin-top: -4px;
}

/* alternating rows for item details styling below */
.alternate-row-a {
    background-color: #e8f5e9;
    padding: 5px 5px 5px 5px;
    border: 1px solid #4fc3f7;
}

.alternate-row-b {
    background-color: #e1f5fe;
    padding: 5px 5px 5px 5px;
    border: 1px solid #81c784;
}

/* Feature image on home page formatting here */
.banner-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: -4px;
}

/* Footer styling below */
footer {
    background-color: #81c784;
    padding: 20px 0px 20px 0px;
    margin-top: 20px;
}

#footer-row {
    margin-bottom: 0;
}

.footer-menu a {
    color: white;
}

.footer-menu a:hover {
    color: black;
}

/* 404 and 500 error pages styling below */
.error-title {
    font-size: 150px !important;
    margin: 50px 0 50px 0;
}

.error-heading {
    font-size: 80px !important;
    margin: 20px 0 20px 0;
}

.error-paragraph {
    font-size: 20px !important;
    margin: 10px 0 10px 0;
}

/* media rule to hide main logo when screen size less than 600px wide */
@media screen and (min-width: 1px) and (max-width: 600px) {
    #restruction-logo {
        display: none;
    }
}