{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3 class="center-align page-header">Edit Item Type</h3>
    <!-- Edit Item type functionality. Only available to admin -->
    <div class="row">
        <div class="input-field col s12">
            <form class="col s12" method="POST" action="{{ url_for('edit_item_type', item_type_id=item_type._id) }}">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="item_type" name="item_type" type="text" class="validate" minlength="5" maxlength="50"
                            value="{{ item_type.item_type }}" required>
                        <label for="item_type">Item Type</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('get_item_type') }}" class="btn-large red">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                        <button type="submit" class="btn-large light-green">Edit Item Type
                            <i class="fas fa-edit right"></i>
                        </button>
                        <a class="waves-effect waves-light btn-large red modal-trigger" href="#modal2">Delete Item
                            Type</a>
                    </div>

                    <!-- Modal Structure to avoid accidental deleting -->
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Are you sure?</h4>
                            <p>Once the item type is deleted, you can not recover it!</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_item_type', item_type_id=item_type._id) }}"
                                class="modal-close waves-effect waves-green btn-flat">Permanently Delete</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}