{% extends "base.html" %}
{% block content %}

<img src="../static/images/restruction-banner.jpg" alt="Restruction Banner" class="banner-image">
<div class="container">
    <p>Our aim is to reduce the vast carbon footprint produced by the construction industry by saving one salvagable
        item at a time from going to waste. Register via the button at the top right and join the movement if you work
        within the construction industry and have items to post or are in the search for salvageable items.
    </p>
    <h4 class="center-align">Most Recent Posts</h4>
    <ul class="collapsible">
        {% for item in items %}
        <li>
            <div class="collapsible-header">
                <i class="fas fa-caret-down"></i>
                <span><strong>{{ item.item_name }}</strong><br>
                    {{ item.item_type }}
                </span>
            </div>
            <div class="collapsible-body">
                <div class="row alternate-row-a center-align">
                <strong>Description:</strong> 
                <p>{{ item.item_description }}</p>
                </div>
                <div class="row">
                    <div class="col s6 alternate-row-b center-align">
                        <strong>Quantity:</strong> <p>{{ item.quantity }}</p>
                    </div>
                    <div class="col s6 alternate-row-b center-align">
                        <strong>Measurement Unit:</strong> <p>{{ item.measurement_unit }}</p>
                    </div>
                </div>
                <div class="row">
                <div class="col s6 alternate-row-a center-align">
                    <strong>Estimated Mass:</strong> <p>{{ item.estimated_mass }}</p>
                </div>
                <div class="col s6 alternate-row-a center-align">
                <strong>Condition:</strong> <p>{{ item.condition }}</p>
                </div>
                </div>
                <div class="row alternate-row-b center-align">
                <strong>Contact:</strong> <p>{{ item.contact_name }}, <a href="mailto:{{ item.contact_email }}"><i class="fas fa-envelope-square"> </i> {{ item.contact_email }}</a>,
                <a href="tel:{{ item.contact_phone }}"><i class="fas fa-phone"> </i> {{ item.contact_phone }}</a></p></div>
                <div class="row alternate-row-a center-align">
                <strong>Date of Destruction:</strong> <p>{{ item.date_of_destruction }}</p></div>
                <em>Uploaded By: {{ item.created_by }}</em>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}