{% extends "base.html" %}
{% block content %}
<div class="container">
    <!-- page showing all items -->
    <h3 class="center-align page-header">All Items</h3>

    <div class="card-panel green lighten-4 center-align">
        <!-- search form below -->
        <form action="{{ url_for('search') }}" method="POST" id="search_item_form">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" id="query" name="query" minlength="3" class="validate">
                    <label for="query">Search Items</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="light-blue darken-1 btn text-shadow" type="submit">
                        <i class="fas fa-search left"></i> Search
                    </button>
                    <a href="{{ url_for('get_items') }}" class="red btn text-shadow">Reset</a>
                </div>
            </div>
        </form>
    </div>
    <!-- if statement if there are no items to show, show a message -->
    {% if items|length > 0 %}
    <ul class="collapsible">
        {% for item in items %}
        <li>
            <div class="collapsible-header">
                <i class="fas fa-caret-down"></i>
                <span><strong>{{ item.item_name }}</strong><br>
                    {{ item.item_type }}
                </span>
            </div>
            <div class="collapsible-body">
                <div class="row alternate-row-a center-align">
                    <strong>Description:</strong>
                    <p>{{ item.item_description }}</p>
                </div>
                <div class="row">
                    <div class="col m6 s12 alternate-row-b center-align">
                        <strong>Quantity:</strong>
                        <p>{{ item.quantity }}</p>
                    </div>
                    <div class="col m6 s12 alternate-row-b center-align">
                        <strong>Dimensions:</strong>
                        <p>{{ item.dimensions }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col m6 s12 alternate-row-a center-align">
                        <strong>Estimated Mass:</strong>
                        <p>{{ item.estimated_mass }}</p>
                    </div>
                    <div class="col m6 s12 alternate-row-a center-align">
                        <strong>Condition:</strong>
                        <p>{{ item.condition }}</p>
                    </div>
                </div>
                <div class="row alternate-row-b center-align">
                    <strong>Contact:</strong>
                    <p>{{ item.contact_name }}, <a href="mailto:{{ item.contact_email }}"><i
                                class="fas fa-envelope-square"> </i> {{ item.contact_email }}</a>,
                        <a href="tel:{{ item.contact_phone }}"><i class="fas fa-phone"></i>
                            {{ item.contact_phone }}</a></p>
                </div>
                <div class="row alternate-row-a center-align">
                    <strong>Date of Removal (yyyy/mm/dd):</strong>
                    <p>{{ item.date_of_destruction }}</p>
                </div>
                <div class="row alternate-row-b center-align">
                    <strong>Item Location:</strong>
                    <p>{{ item.item_location }}</p>
                </div>
                <div class="col s12 alternate-row-a center-align">
                    <strong>Image:</strong><br> <img src="{{ item.photo_url }}" alt="{{ item.item_name }} image"
                        style="height: auto; width: 50%;">
                </div>
                <em>Uploaded By: {{ item.created_by }}</em>
            </div>
        </li>
        {% endfor %}
    </ul>
    <!-- Else statement showing message if no items -->
    {% else %}
    <h4 class="red-text center-align">No items found</h4>
    <p class="center-align">Please search for another keyword or reset via the button above.</p>
    {% endif %}
</div>
{% endblock %}