{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3 class="center-align page-header">All Items</h3>

    <div class="row card-panel green lighten-4">
        <form class="col s12" action="{{ url_for('search') }}" method="POST">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" id="query" name="query" minlength="3" class="validate" required>
                    <label for="query">Search Items</label>
                </div>
                <div class="col s12 m4">
                    <button class="light-blue darken-1 btn text-shadow" type="submit">
                        <i class="fas fa-search left"></i> Search
                    </button>
                    <a href="{{ url_for('get_items') }}" class="red btn text-shadow">Reset</a>
                </div>
            </div>
        </form>
    </div>

    <ul class="collapsible">
        {% for item in items %}
        <li>
            <div class="collapsible-header">
                <i class="fas fa-caret-down"></i>
                <span><strong>{{ item.item_name }}</strong><br>
                    {{ item.item_type }}
                </span>
            </div>
            <div class="collapsible-body">
                <span>
                    <strong>Description:</strong> {{ item.item_description }}<br>
                    <strong>Quantity:</strong> {{ item.quantity }}<br>
                    <strong>Measurement Unit:</strong> {{ item.measurement_unit }} <br>
                    <strong>Estimated Mass:</strong> {{ item.estimated_mass }}<br>
                    <strong>Condition:</strong> {{ item.condition }}<br>
                    <strong>Contact:</strong> {{ item.contact_name }}, {{ item.contact_email }},
                    {{ item.contact_phone }}<br>
                    <strong>Date of Destruction:</strong> {{ item.date_of_destruction }}<br>
                    <strong>Image:</strong> <img src="{{ item.img }}" alt="" style="height: auto; width: 150px;" > <br>
                    <em>Uploaded By: {{ item.created_by }}</em>
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}