{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 input-field">
            <div class="card-panel green lighten-2">
                <h3 class="center-align white-text">{{ user.username }}'s Profile</h3>
            </div>
            <form class="col s12" method="POST" action="{{ url_for('edit_users', users_id=user._id) }}">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" name="first_name" type="text" class="validate" minlength="5"
                            maxlength="50" value="{{ user.first_name }}" required>
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" name="last_name" type="text" class="validate" minlength="5" maxlength="50"
                            value="{{ user.last_name }}" required>
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="email" name="email" type="text" class="validate" minlength="5" maxlength="50"
                            value="{{ user.email }}" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('profile', username=user.username) }}" class="btn large red">Cancel
                            <i class="fas fa-times-circle right"></i>
                        </a>
                        <button type="submit" class="btn large light-green">Edit User
                            <i class="fas fa-edit right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}