{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Register</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel green">
            <div class="row">
                <div class="white-text input-field col s6">
                    <i class="fas fa-user-tag prefix"></i>
                    <input name="first_name" id="first_name" type="text" class="validate">
                    <label class="white-text" for="first_name">First Name</label>
                </div>
                <div class="white-text input-field col s6">
                    <input name="last_name" id="last_name" type="text" class="validate">
                    <label class="white-text" for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="white-text input-field col s12">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="username" name="username" type="text" class="validate">
                    <label class="white-text" for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="white-text input-field col s12">
                    <i class="fas fa-user-lock prefix"></i>
                    <input id="password" type="password" name="password" class="validate">
                    <label class="white-text" for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="white-text input-field col s12">
                    <i class="fas fa-at prefix"></i>
                    <input name="email" id="email" type="email" class="validate">
                    <label class="white-text" for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="col s12 btn-large light-green darken-4 white-text">
                    Register <i class="fas fa-dign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}